/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    font-family: Roboto, Arial, sans-serif;
    padding-left: 15px;
  }
  
  .product-list-container {
    padding: 16px;
  }
  
  mat-form-field {
    margin-right: 16px;
  }
  
  table {
    width: 100%;
  }
  button{
    margin-left: 15px;
  }